<%- include("partials/header"); -%>

      <% postsArr.forEach(function(post) { %>
            <h1><%= post.title %></h1>
            <p id="truncateMe"><%= post.content %></p>
      <% }); %>
                  
<%- include("partials/footer"); -%>